<div id="header_main">
    <div class="ui menu inverted">
        <div class="header item">
            Scope Admin
        </div>
        <div class="item" ng-click="toPhotoManagement()">
            Photo Management
        </div>
        <div class="item" ng-click="toScopeManagement()">
            Scope Management
        </div>
        <div class="item" ng-click="toUserManagement()">
            User Management
        </div>
        <div class="item" ng-click="toFeatureManagement()">
            Feature Management
        </div>
        <div class="item" ng-click="toFeatureManagement()">
            Feature Management
        </div>
        <div class="item" ng-click="toSystemInfo()">
            System Info
        </div>
        <div class="item logout">
            Log Out
        </div>

    </div>
 </div>